@page "/"

<h1>Hello, world!</h1>

I am Richardson Jacques, the editor of this template. This project is the 5th tutorial of my COP 3003 course.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />
